//color
$main-color: #133EBF;
$lightest-blue: #E0E1E5;
$light-blue: #E8EEFF;
$light-text-color: #586280;
$dark-text-color: #262B38;
$green-color: #44BD8C;
$orange-color: #FB5607;
$lightest-gray: #D8DBE6;
$light-color: #ffffff;
$red-color: #FF0000;
$dark-color: #000000;
$navy-color: #071642;
$light-gray: #8B93A8;
$creme-color: #F5F7FC;

//fonts
$normal-font: 'Roobert'